html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-color: #202020;
    padding: 20px; /* Padding ini untuk jarak konten dari tepi layar */
    padding-top: 20px; /* Tambahan jarak dari atas */
    display: flex;
    justify-content: center;
    color: #f0f0f0;
}

#anime-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Default: 2 kolom (setiap kolom 1/2 dari lebar container) */

    row-gap: 60px;
    column-gap: 20px;

    max-width: 900px;
    width: 100%; /* Memastikan container mengambil 100% lebar yang tersedia */
}

/* Media Query untuk 1 kolom hanya berlaku di lebar SANGAT kecil */
@media (max-width: 350px) {
    #anime-list-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 60px;
    }
}

.anime-item {
    background-color: #4f4f4f;
    border: 1px solid #666;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: 100%;
    justify-content: space-between;
}

.anime-thumbnail {
    width: 100%;
    max-width: 110px; /* Ukuran gambar saat ini */
    height: 160px;
    object-fit: contain;
    margin-bottom: 10px;
}

.anime-title {
    color: #f0f0f0;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-genre {
    color: #bbb;
    font-size: 0.9em;
    margin-top: auto;
}
